colorama==0.4.6
dash==3.3.0
dash_bootstrap_components
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
itsdangerous==2.1.2
MarkupSafe==3.0.3
packaging==23.1
plotly==5.14.1
tenacity==8.2.2
Werkzeug==3.0.6
gunicorn
numpy
fredapi
pandas==2.3.3
pandas_datareader==0.10.0
yfinance
bs4
requests
requests_html
scipy
ipython
xlrd
matplotlib
lxml_html_clean
scikit-learn
openpyxl
